/* Reset dasar */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: antiquewhite;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    color: #362d2d;
    background-color: transparent;
    backdrop-filter: blur(10px);
    font-family: 'Arial', sans-serif;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
}

.navbar .logo {
    font-size: 1.8rem;
    font-weight: bold;
    display: flex;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
    align-items: center;
  
}

.navbar .logo i {
    margin-right: 10px;
    color:  rgb(28, 62, 162);
}

.navbar .logo span {
     color: rgb(21, 28, 133);
}

.navbar .menu {
    display: flex;
    list-style: none;
    background-color: rgb(255, 255, 255);
    padding: 6px 0;
    border-radius: 15px;
    align-items: center;
     box-shadow: 0 2px 8px rgba(52, 13, 132, 0.2);
     margin: auto;
     padding-right: 30px;
    
}

.navbar .menu li {
    margin-left: 25px;
    
}

.navbar .menu li a {
    text-decoration: none;
    color: #141313;
    font-weight: 500;
    font-size: 15px;
    opacity: 80%;
    transition: color 0.3s;
}

.navbar .menu li a:hover {
    color: #f5c242;
}

.navbar .auth {
    display: flex;
    gap: 15px;
}

.navbar .auth a {
    padding: 8px 18px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: 500;
    transition: background-color 0.3s, color 0.3s;
}

.navbar .auth .login {
    color: #1b40b0;
    font-style: inherit;
    background-color: #fff;
    font-weight: bold;
}

.navbar .auth .login:hover {
    background-color: #f0f0f0;
}

.navbar .auth .register {
    background: linear-gradient(135deg,#4c2bbd,#1f4ed8);
    color: #fff;
}

.navbar .auth .register:hover {
     background-color: #471fc7;
}

/* Responsif: untuk layar kecil */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 15px 20px;
    }

    .navbar .menu {
        flex-direction: column;
        width: 100%;
        margin-top: 10px;
    }

    .navbar .menu li {
        margin: 10px 0;
    }

    .navbar .auth {
        margin-top: 10px;
    }
}